@model Website.Models.DataModel

<body onload="InitializeSticky(); InitializeEvents(); InitializeModal(); InitializePioneers();">
</body>

<link href="~/css/style.css" rel="stylesheet" />

<script src="~/js/StickyHeader.js"></script>
<script src="~/js/ModalManager.js"></script>

<div id="Modal" class="modal">
    <div class="modal-body">
        <span class="modal-close">&times;</span>
        <a class="modal-header">
        </a>
        <a class="modal-subheader">
        </a>
        <br />
        <br />
        <p class="modal-content"></p>

    </div>

</div>

<div id="Navbar" class="footer">
    <div class="navbar-grid-container">
        <div class="grid-item page-redirect">
            <a href='#'>
                <center>Home</center>
            </a>

        </div>
        <div class="grid-item page-redirect">
            <a href='#Culture'>
                <center>Culture</center>
            </a>
        </div>
        <div class="grid-item page-redirect">
            <a href='#Events'>
                <center>Events</center>
            </a>
        </div>
        <div class="grid-item page-redirect">
            <a href='#Systems'>
                <center>Systems</center>
            </a>
        </div>
        <div class="grid-item page-redirect">
            <a href='#Pioneers'>
                <center>Pioneers</center>
            </a>
        </div>
    </div>
</div>

<div id="Home">
    <div class="home-bg"></div>
    <br />
</div>

<!-- COMPLETED -->
<div id="Culture">

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="culture-section">
        <div class="left image" style="background-image: url('/images/culture/TheEnvironment1.jpg');"></div>
        <div class="culture-header">
            <a>
                The Environment
            </a>
        </div>
        <div class="culture-content">
            <center>
                <p>
                    Our environment is one where students are encouraged to be more interactive with teachers. They are taught to ask questions and clear their doubts on the spot. As our motto follows, we not only focus on education, we try to create a good balance in academics, physical activities and extracurriculars. The balance shifted radically during major events, giving more priority to the approaching event.
                </p>
            </center>
        </div>
        <div class="right image" style="background-image: url('/images/culture/TheEnvironment2.jpg');"></div>
    </div>

    <div class="culture-space">
        <div class="culture-space-color">

        </div>
    </div>

    <div class="culture-section">
        <div class="left image" style="background-image: url('/images/culture/Difference1.jpg');"></div>
        <div class="culture-header">
            <a>
                How is it Different?
            </a>
        </div>
        <div class="culture-content">
            <center>
                <p>
                    The school has a friendly and respectful environment where a lot of formal customs are removed. These include but are not limited to: standing up and greeting the teacher together as a class, asking freely for extra time to clear doubts and in general, having a more casual and friendly, yet respecting relationship with students. Students are encouraged to be more independent learners, who are able to learn facts, information and think without constant involvement from the teacher.
                </p>
            </center>
        </div>
        <div class="right image" style="background-image: url('/images/culture/Difference2.jpg');"></div>
    </div>

    <div class="culture-space">
        <div class="culture-space-color">

        </div>
    </div>

    <div class="culture-section">
        <div class="left image" style="background-image: url('/images/culture/Expectation1.jpg');"></div>
        <div class="culture-header">
            <a>
                What to Expect
            </a>
        </div>
        <div class="culture-content">
            <center>
                <p>
                    As a teacher, a very different environment is expected. One where more freedom in terms of methods of teaching is encouraged. Usually, students approach teachers freely to ask questions, get help, schedule extra classes and get feedback. You are their friendly mentors, and you guide them in terms of subject matters and school topics.
                </p>
            </center>
        </div>
        <div class="right image" style="background-image: url('/images/culture/Expectation2.jpg');"></div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<!-- COMPLETED -->
<div id="Events">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <a class="section-header">
        EVENTS
    </a>
    <br />


    @foreach (var Event in Model.Events)
    {
        <div class="event-card">
            <div class="event-bg" style="background-image: url('/images/events/@Event.Image');" onmousedown="ShowEventModal('@Event.Id')"></div>
            <a class="event-name">
                @Event.Name
            </a>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
    }

</div>

<!-- NOT COMPLETED
    INFORMATION MISSING -->
<div id="Systems">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <a class="section-header">
        SYSTEMS
    </a>
    <br />

    <div class="system-grid-container">

        <!-- CLASSROOM -->
        <div class="system-grid-item">
            <a class="system-header">
                Google Classroom
            </a>

            <div class="system-image" style="background-image: url(/images/systems/ClassroomLogo.png);"></div>

            <p class="system-usage system-text">
                Google classroom is one of the most used tools in the school. We use it to share resources, create assignments, and ease communication. It streamlines communication and file sharing with students.
            </p>

            <div class="system-content system-text">
                <p>
                    Classroom can be used with commonly used tools, such as Gmail, Google Docs, and Google Calendar. Google Classroom integrates Docs, Sheets, Slides, Gmail, and Calendar into a cohesive platform to manage student and teacher communication. It allows you to see which students have completed their assignments and you can provide direct, real-time feedback and grades.
                    <br />
                    <br />

                    Being a part of the G-Suite, google classroom is fairly intuitive. One can figure out the interface and get used to the workflow rather fast.

                    <br />
                    <br />

                    Below are a few resources:
                    <br />
                    <br />

                    &bull; <a href="https://www.youtube.com/watch?v=UEFgW--0094" target="_blank">Google Classroom 101</a>
                    <br />
                    <br />
                    &bull; <a href="https://edu.google.com/teacher-center/products/classroom/?modal_active=none" target="_blank">Teacher Center | Google Classroom Training</a>
                    <br />
                    <br />
                    &bull; <a href="https://www.youtube.com/watch?v=M6L-nZGIUTE" target="_blank">The NEW Google Classroom - Full Tutorial</a>
                </p>

            </div>
        </div>

        <!-- WIZEMEN -->
        <div class="system-grid-item">
            <a class="system-header">
                Wizemen
            </a>

            <div class="system-image" style="background-image: url(/images/systems/WizemenLogo.png);"></div>

            <p class="system-usage system-text">
                Google classroom is one of the most used tools in the school. We use it to share resources, create assignments, and ease communication. It streamlines communication and file sharing with students.
            </p>

            <div class="system-content system-text">
                <p>
                    Classroom can be used will commonly used tools, such as Gmail, Google Docs, and Google Calendar. Google Classroom integrates Docs, Sheets, Slides, Gmail, and Calendar into a cohesive platform to manage student and teacher communication. It allows you to see which students have completed their assignments and you can provide direct, real-time feedback and grades.
                    <br />
                    <br />

                    Being a part of the G-Suite, google classroom is fairly intuitive. One can figure out the interface and get used to the workflow rather fast.

                    <br />
                    <br />

                    Below are a few resources:
                    <br />
                    <br />

                    &bull; <a href="https://www.youtube.com/watch?v=UEFgW--0094" target="_blank">Google Classroom 101</a>
                    <br />
                    <br />
                    &bull; <a href="https://edu.google.com/teacher-center/products/classroom/?modal_active=none" target="_blank">Teacher Center | Google Classroom Training</a>
                    <br />
                    <br />
                    &bull; <a href="https://www.youtube.com/watch?v=M6L-nZGIUTE" target="_blank">The NEW Google Classroom - Full Tutorial</a>
                </p>

            </div>
        </div>

        <!-- VERACROSS -->
        <div class="system-grid-item">
            <a class="system-header">
                Veracross
            </a>

            <div class="system-image" style="background-image: url(/images/systems/ClassroomLogo.png);"></div>

            <p class="system-usage system-text">
                Google classroom is one of the most used tools in the school. We use it to share resources, create assignments, and ease communication. It streamlines communication and file sharing with students.
            </p>

            <div class="system-content system-text">
                <p>
                    Classroom can be used will commonly used tools, such as Gmail, Google Docs, and Google Calendar. Google Classroom integrates Docs, Sheets, Slides, Gmail, and Calendar into a cohesive platform to manage student and teacher communication. It allows you to see which students have completed their assignments and you can provide direct, real-time feedback and grades.
                    <br />
                    <br />

                    Being a part of the G-Suite, google classroom is fairly intuitive. One can figure out the interface and get used to the workflow rather fast.

                    <br />
                    <br />

                    Below are a few resources:
                    <br />
                    <br />

                    &bull; <a href="https://www.youtube.com/watch?v=UEFgW--0094" target="_blank">Google Classroom 101</a>
                    <br />
                    <br />
                    &bull; <a href="https://edu.google.com/teacher-center/products/classroom/?modal_active=none" target="_blank">Teacher Center | Google Classroom Training</a>
                    <br />
                    <br />
                    &bull; <a href="https://www.youtube.com/watch?v=M6L-nZGIUTE" target="_blank">The NEW Google Classroom - Full Tutorial</a>
                </p>

            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<!-- NOT COMPLETED
    COORDINATOR(S) AND GLC(S) MISSING -->
<div id="Pioneers">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <a class="section-header">
        Pioneers
    </a>

    <br />

    @foreach (var pioneerGroup in Model.PioneerGroups)
    {
        <div class="pioneer-group">
            <div class="pioneer-group-grid-container">

                <a class="pioneer-group-title">
                    @pioneerGroup.Title
                </a>

                @foreach (var pioneer in pioneerGroup.Pioneers)
                {
                    <div class="pioneer">

                        <div class="pioneer-grid-container" onmousedown="ShowPioneerModal('@pioneer.Id')">
                            <!-- onmousedown="ShowPioneerModal('@pioneer.Id')" -->

                            <div class="pioneer-image" style="background-image: url('/images/pioneers/@pioneer.ImagePath');">

                            </div>

                            <div>

                                <center>
                                    <a class="pioneer-name">
                                        @pioneer.Name
                                    </a>
                                </center>

                                <center>
                                    <a class="pioneer-role">
                                        @pioneer.Role
                                    </a>
                                </center>
                            </div>

                        </div>

                    </div>
                }

            </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
    }
</div>

<!-- EVENTS HOVER MANAGER -->
<script type="text/javascript">
    var events;

    // Called from Body's OnLoad
    function InitializeEvents() {
        events = @Html.Raw(Json.Serialize(Model.Events));
    }

    function ShowEventModal(id) {
        for (i = 0; i < events.length; i++) {
            if (events[i].id == id) {
                var event = events[i];
                var subheader = event.startTime + " - " + event.endTime + " (Approx.)";
                ShowModal(event.name, subheader, event.description);
                break;
            }
        }
    }

</script>

<!-- PIONEERS HOVER MANAGER -->
<script type="text/javascript">
    var pioneerGroups;

    // Called from Body's OnLoad
    function InitializePioneers() {
        pioneerGroups = @Html.Raw(Json.Serialize(Model.PioneerGroups));
    }

    function ShowPioneerModal(id) {
        for (i = 0; i < pioneerGroups.length; i++) {
            for (n = 0; n < pioneerGroups[i].pioneers.length; n++) {
                if (pioneerGroups[i].pioneers[n].id == id) {
                    var pioneer = pioneerGroups[i].pioneers[n];
                    ShowModal(pioneer.name, pioneer.role, pioneer.description);
                    break;
                }
            }
        }
    }

</script>
